* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*display: flex;
  flex-direction: row;
  flex: 1;*/
}

.hamburger {
  display: none;
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px;
}

.hamburger-stripe {
  background-color: #6799ff;
  height: 3px;
  margin-bottom: 5px;
}

/* Add your CSS here */
.main-nav {
  display: flex;
  flex: 1;
}

.main-nav > li {
  text-transform: uppercase;
  list-style: none;
  padding: 10px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #6799ff;
}

a:hover {
  border-bottom: solid #6799ff 2px;
  padding: 10px;
}

.logo {
  flex: 1.25;
  padding: 10px;
  min-width: 139px;
  min-height: 40px;
}

.courses {
  flex: 1;
  text-align: center;
}

.how-it-works {
  flex: 1.5;
  text-align: center;
}

.reviews {
  flex: 1;
  text-align: center;
}

.pricing {
  flex: 1;
  text-align: center;
}
.sign-in {
  flex: 4;
  padding: 10px;
  justify-content: end;
  text-transform: uppercase;
  list-style: none;
  text-align: right;
}
.sign-in-item {
  /*text-align: right;*/
  justify-content: end;
}

.courses-container {
  position: absolute;
  /* background-color: #f9fbff; */
  width: 100%;
  left: 0;
  top: 60px;
}

.courses-nav {
  /*show on click*/
  flex: 1;
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: lightgreen;
  height: 200px;
justify-content: center;
}

h4 {

}

.web-dev-bootcamp {
  flex: 1;
  background-color: lightcyan;
}

.data-sci-bootcamp {
  flex: 1;
  background-color: lightsalmon;
}

.all-courses {
  flex: 1;
  background-color: lightgoldenrodyellow;
}

.how-it-works-nav {
  /*show on click*/
  display: none;
  flex: 6;
  list-style: none;
}

img {
  min-height: 75px;
  max-height: 75px;
}
